[user]
  name = Ian Henry
  email = ianthehenry@gmail.com
[core]
  editor = "subl --wait"
  excludesfile = "~/.gitignore_global"
  pager = delta
[pager]
  log = less -S
[diff]
  algorithm = patience
  colorMoved = default
[interactive]
  diffFilter = delta --color-only
[delta]
  features = decorations navigate
  whitespace-error-style = red reverse
  syntax-theme = none
  minus-style = red normal
  minus-non-emph-style = normal normal dim
  minus-emph-style = red reverse
  plus-style = green normal
  plus-non-emph-style = normal normal
  plus-emph-style = green reverse
  minus-empty-line-marker-style = normal red ul
  plus-empty-line-marker-style = normal green ul
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow
  file-decoration-style = yellow bold ul ol
  hunk-header-decoration-style = blue box
  hunk-header-style = normal
[credential]
  helper = osxkeychain
[alias]
  git = !git
  ff = merge --ff-only @{u}
  hist = log --format='%C(yellow)%h %C(blue)%as%C(auto)%d%Creset %s %C(dim)[%an, %ar]' --graph --topo-order
  st = status --short --branch
  com = commit
  heads = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
  pushup = "!f(){ git push --set-upstream $1 $(git rev-parse --abbrev-ref HEAD); }; f"
  serve = daemon --reuseaddr --base-path=. --export-all --verbose
  pf = push --force-with-lease
  rc = rebase --continue
  dc = diff --cached
  fix = commit --fixup
  co = checkout
  root = rev-parse --show-toplevel
[push]
  default = upstream
[color]
  ui = auto
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[rebase]
  autosquash = true
  autostash = true
