[user]
    name = Ian Henry
    email = ianthehenry@gmail.com
[core]
    editor = "subl --wait"
    excludesfile = "~/.gitignore_global"
[credential]
    helper = osxkeychain
[alias]
    git = !git
    ff = merge --ff-only @{u}
    hist = log --oneline --decorate --graph --topo-order
    st = status --short --branch
    com = commit
    heads = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
    pushup = "!f(){ git push --set-upstream $1 $(git rev-parse --abbrev-ref HEAD); }; f"
    pushupf = "!f(){ git push -f --set-upstream $1 $(git rev-parse --abbrev-ref HEAD); }; f"
    serve = daemon --reuseaddr --base-path=. --export-all --verbose
    tsk = blame
    whisk = rebase
    m = merge --no-ff
    rc = rebase --continue
    fix = commit --fixup
[push]
	default = upstream
[color]
    ui = auto
[diff]
    algorithm = patience
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[rebase]
    autosquash = true
